.head {
    color: aliceblue;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    border-bottom: 1px solid #0b0606;
    padding: 1.5rem 2rem;
    background-color: rgb(8, 21, 22);
    justify-content: space-between;
    top: 0;
    z-index: 100;
}
.head__logo {
    height: 75px;
}
.head__nav ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}
.head__link {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}
.head__link a {
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s ease;
}
.head__link a:hover {
    color: #812121;
}