.button,
.simple-button {
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.button {
  width: 100%;
  max-width: 16rem;
  background-color: var(--primary-color);
  color: var(--contrast-light-color);
  padding: 0.95rem 1rem;
  border-radius: 0.75rem;
}

.simple-button {
  background-color: transparent;
  color: var(--primary-color);
}

.simple-button--add {
  color: var(--success-color);
}

.simple-button--edit {
  color: var(--primary-color);

}

.simple-button--delete {
  color: var(--danger-color);
}

